@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #764ba2;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif ;

}

.list_produtions{
    margin-top: -150px;
}
.loading{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;

}