.prodution_row{
    margin-bottom: 30px;
}

.prodution_row h2{
    margin: 0px 0px 0px 30px;
}

.list_area{
    overflow-x: hidden;
    padding-left: 30px;
}

.list{
    transition: ease all 0.4s;
}

.item{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.item img:hover{
    transform: scale(1);
}

.navigation-left,
.navigation-right{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color:rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: ease all 0.3s;
    opacity: 0;
}

.navigation-lef{
    left: 0;
}

.navigation-right{
    right: 0;
}

.prodution_row:hover .navigation-left,
.prodution_row:hover .navigation-right{
    opacity: 1;
}
