@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #764ba2;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif ;

}

.list_produtions{
    margin-top: -150px;
}